{% extends "template.twig" %}
{% block section %}build{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Build{% endblock %}
{% block page_tagline %}News for students building awesome things.{% endblock %}
{% block image %}assets/img/og_build.jpg?1{% endblock %}
{% block description %}Build is news for students building awesome things{% endblock %}
{% block endhead %}{{wp_head}}<link rel="alternate" type="application/rss+xml" href="{{ bloginfo('rss2_url') }}" title="Article RSS Feed" />{% endblock %}
{% block content %}
    {% if page == "1" %}
        {% set post = posts[0] %}
        <article class="featured teaser">
            <section class="meta">
                <a class="category" style="border-bottom-color: #{{ post.category|sha256|slice(0,6) }}" href="{{ post.category.link }}">{{ post.category }}</a>
            </section>
            <a href="{{ post.permalink }}"><div class="feature-image" style="background-image: url({{ post.thumbnail.src('large') }})"></div></a>
            <section class="preview">
                <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
                <section class="excerpt">
                    <p>
                        {{ post.get_preview(120, false, false, false) }}
                    </p>
                </section>
            </section>
        </article>
    {% endif %}

    <section class="primary">
        <section class="posts">
            {% set first = true %}
            {% for post in posts %}
                {% if page != 1 or (page == 1 and not first) %}
                    <article class="teaser">
                        <section class="meta">
                            <a class="category" style="border-bottom-color: #{{ post.category|sha256|slice(0,6) }}" href="{{ post.category.link }}">{{ post.category }}</a>
                        </section>
                        <a href="{{ post.permalink }}"><div class="feature-image" style="background-image: url({{ post.thumbnail.src('medium') }})"></div></a>
                        <section class="preview">
                            <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
                            <section class="excerpt">
                                <p>
                                    {{ post.get_preview(60, false, false, false) }}
                                </p>
                            </section>
                        </section>
                    </article>
                {% endif %}
                {% set first = false %}
            {% endfor %}
        </section>

        {% include "pages/blog/parts/sidebar_categories.twig" %}

        <div class="pagination">
            {% if pagination.prev %}
                <a href="{{pagination.prev.link}}" class="prev {{pagination.prev.link|length ? '' : 'invisible'}}">Later</a>
            {% endif %}
            <ul class="pages">
                {% for page in pagination.pages %}
                    <li>
                        {% if page.link %}
                            <a href="{{page.link}}" class="{{page.class}}">{{page.title}}</a>
                        {% else %}
                            <span class="{{page.class}}">{{page.title}}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if pagination.next %}
                <a href="{{pagination.next.link}}" class="next {{pagination.next.link|length ? '' : 'invisible'}}">Earlier</a>
            {% endif %}
        </div>
    </section>
{% endblock %}