{% extends "template.twig" %}
{% block section %}admin{% endblock %}
{% block page %}events{% endblock %}
{% block title %}Press Admin{% endblock %}
{% block page_tagline %}{% if release %}Editing {{ release.title }}{% else %}New Release{% endif %}{% endblock %}
{% block content %}
    {% if release %}<a href="/press/release/{{ release.id }}">Web Link</a>{% endif %}
    <form method="post">
        <div class="field">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="{{ release.title }}" required />
        </div>
        <div class="field">
            <label for="teaser">Teaser</label>
            <input type="text" name="teaser" id="teaser" value="{{ release.teaser }}" required />
        </div>
        <div class="field">
            <label for="published_at">Date</label>
            <input type="date" name="published_at" id="published_at" value="{{ release.published_at.timestamp|date('Y-m-d') }}" required />
        </div>
        <div class="field">
            <label for="content">Content</label>
            <textarea name="content" id="content">{{ release.content }}</textarea>
        </div>
        <div class="field">
            <label for="at_a_glance">At-a-glance</label>
            <textarea name="at_a_glance" id="at_a_glance">{{ release.at_a_glance }}</textarea>
        </div>
        <div class="field">
            <label for="hidden">Hidden</label>
            <input type="checkbox" name="hidden" id="hidden" value="1" />
        </div>
        <input type="submit" value="{% if release %}Save{% else %}Create{% endif %}" />
    </form>

    {% if release %}
        <form action="/admin/press-releases/{{ release.id }}/delete"><input type="submit" value="Delete"></form>
    {% endif %}
{% endblock %}