!!! 5
%html
  %head
    -if block('title')
      %title #{ block('title')|trim } ~ #{i18n('common.name')}
      %meta(property="og:title" content="#{block('title')|trim}")
      %meta(name="twitter:title" content="#{block('title')|trim}")
    -else
      %title #{i18n('common.name')} ~ #{i18n('common.tagline-title')}
      %meta(property="og:title" content="#{i18n('common.name')}")
      %meta(name="twitter:title" content="#{i18n('common.name')}")

    -if block('description')
      %meta(name="description" content="#{block('description')|trim}")
      %meta(property="og:description" content="#{block('description')|trim}")
      %meta(name="twitter:description" conent="#{block('description')|trim}")
    -else
      %meta(name="description" content="#{i18n('common.desc')}")
      %meta(property="og:description" content="#{i18n('common.desc-social')}")
      %meta(name="twitter:description" conent="#{i18n('common.desc-social')}")

    -if block('image')
      %meta(property="og:image" content="#{url(block('image')|trim)}")
      %meta(name="twitter:image" content="#{url(block('image')|trim)}")
    -else
      %meta(property="og:image" content="#{url('/assets/img/og.jpg')}")
      %meta(name="twitter:image" content="#{url('/assets/img/og.jpg')}")


    %meta(property="og:locale" content="#{lang}")
    %meta(property="og:url" content="#{currentUrl}")
    %meta(name="twitter:card" content="summary_large_image")
    %meta(name="twitter:site" content="@studentrnd")
    %meta(name="twitter:creator" content="@studentrnd")
    %meta(name="keywords" content="#{i18n('common.keywords')}")

    %link(rel="apple-touch-icon" type="image/png" href="/assets/img/favicon.png")
    %link(rel="apple-touch-icon" type="image/png" sizes="72x72" href="/assets/img/favicon.png")
    %link(rel="apple-touch-icon" type="image/png" sizes="114x114" href="/assets/img/favicon.png")
    %link(rel="icon" type="image/png" href="/assets/img/favicon.png")

    %link(rel="stylesheet" href="/assets/css/style.css?v=#{version}")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

  %body(class="lang-#{lang} section-#{block('section')|trim} page-#{block('page')|trim}")
    %header
      %h1
        %a(href="/") #{i18n('common.name')}
      %nav
        %ul
          %li
            %a(href="/contact") #{i18n('common.nav-contact')}
          %li
            %a(href="/press") #{i18n('common.nav-press')}
          %li
            %a(href="/donate") #{i18n('common.nav-donate')}
          %li
            -if lang == 'es'
              %a(href="https://srnd.org/") English
            -else
              %a(href="https://srnd.es/") Español

    #{block('body')}

    %footer
      .info
        &copy; srnd.org, 501(c)(3). <input class="ein" value="26-4742589" />
        .social
          %iframe(src="https://platform.twitter.com/widgets/follow_button.html?screen_name=studentrnd&show_screen_name=false&lang=#{lang}&dnt=true&show_count=true" width="200" height="23" style="border: 0; overflow: hidden;")
          %iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fsrnd.org&width=76&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId=134222673401073" width="76" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
      .legal
        %ul
          %li
            %a(href="/privacy") #{i18n('common.nav-privacy')}
          %li
            %a(href="/trademarks") #{i18n('common.nav-trademarks')}
          %li
            %a(href="/returns") #{i18n('common.nav-returns')}
      .links
        %ul
          %li
            %a(href="https://blog.srnd.org/" target="_blank") #{i18n('common.nav-blog')}
          %li
            %a(href="/conduct") #{i18n('common.nav-conduct')}
          %li
            %a(href="/bugs") #{i18n('common.nav-bugs')}

    #{block('scripts')}
    %script(src="/assets/js/app.js?v=#{version}")
