-extends "template.haml"
-block section
  errors
-block page
  401
-block title
  #{i18n('errors.401-title')}
-block body
  .content
    .error
      %img(src="/assets/img/error-401.jpg" alt="#{i18n('errors.401-img-alt')}" title="#{i18n('errors.401-img-title')}")
      %h2 #{i18n('errors.401-tag')}
      %p #{i18n('errors.401-text')}
