-extends "template.haml"
-block section
  errors
-block page
  404
-block title
  #{i18n('errors.404-title')}
-block body
  .content
    .error
      %img(src="/assets/img/error-404.jpg" alt="#{i18n('errors.404-img-alt')}" title="#{i18n('errors.404-img-title')}")
      %h2 #{i18n('errors.404-tag')}
      %p #{i18n('errors.404-text')}
