-extends "template.haml"
-block section
  errors
-block page
  500
-block title
  #{i18n('errors.500-title')}
-block body
  .content
    .error
      %img(src="/assets/img/error-500.jpg" alt="#{i18n('errors.500-img-alt')}" title="#{i18n('errors.500-img-title')}")
      %h2 #{i18n('errors.500-tag')}
      %p #{i18n('errors.500-text')}
