{% extends "template.twig" %}
{% block section %}donate{% endblock %}
{% block page %}donate{% endblock %}
{% block title %}Donate{% endblock %}
{% block hero %}
    <section class="title">
        <article>
            <h2>Help us continue to bring programs to your community.</h2>
        </article>
    </section>
{% endblock %}
{% block content %}
    {% if errors and errors|length > 0 %}
        <section class="error">
            {% for error in errors %}
                {{ error }}{% if errors|length > 0 %}<br />{% endif %}
            {% endfor %}
            <br />
            If you continue to have problems, please contact us at
            <a href="mailto:donate@studentrnd.org">donate@studentrnd.org</a>.
        </section>
    {% endif %}
    <form class="contribution-info" id="donate-form" method="post">
        <nav class="steps">
            <ul>
                <li {% if not amount %}class="active"{% endif %}><a href="#" data-for="donation">1. Donation Amount</a></li>
                <li {% if amount %}class="active"{% endif %}><a href="#" data-for="donor">2. Donor Information</a></li>
                <li><a href="#" data-for="payment">3. Complete Donation</a></li>
            </ul>
        </nav>

        <section class="donation" {% if amount %}style="display: none"{% endif %}>
            <h2>Donation Amount</h2>

            <div class="amount">
                {% set donation_options = [10, 25, 50, 100, 250, 500, 1000] %}
                {% if amount %}
                    {% set default_donation = amount %}
                {% else %}
                    {% set default_donation = 25 %}
                {% endif %}
                {% for donation_option in donation_options %}
                    <input type="radio" name="amount" id="amount_{{ donation_option }}" value="{{ donation_option }}"
                           {% if default_donation == donation_option %}checked{% endif %} />
                    <label for="amount_{{ donation_option }}">${{ donation_option|number_format(0) }}</label>
                {% endfor %}
                <input type="text" name="amount" id="amount_custom" placeholder="Custom"
                       format="[0-9]*"
                       oninvalid="setCustomValidity('Please enter a number')"
                        {% if not (default_donation in donation_options) %}value="{{ amount }}" class="checked"{% endif %}/>
            </div>

            <div class="frequency">
                <input type="radio" name="frequency" id="frequency_monthly" value="monthly" {% if is_recurring or not errors %}checked{% endif %} />
                <label for="frequency_monthly">Monthly</label>

                <input type="radio" name="frequency" id="frequency_onetime" value="onetime" {% if not is_recurring and errors %}checked{% endif %} />
                <label for="frequency_onetime">One-Time</label>
            </div>

            <a class="next-step" href="#" data-for="donor">Next</a>

        </section>

        <section class="donor" {% if not amount %}style="display: none"{% endif %}>
            <h2>Donor Information</h2>

            <div class="name">
                <input type="text" name="first_name" id="first_name" placeholder="First Name" value="{{ first_name }}" required/>
                <input type="text" name="last_name" id="last_name" placeholder="Last Name" value="{{ last_name }}" required/>
            </div>
            <input type="email" name="email" id="email" placeholder="Email" value="{{ email }}" required/>

            <div class="option">
                <input type="checkbox" name="is_anonymous" id="is_anonymous" value="1" {% if is_anonymous %}checked{% endif %} />
                <label for="is_anonymous">Keep this donation anonymous.</label>
            </div>

            <div class="for">
                <p>If you are requesting this donation be used for a specific city, please specify here:</p>
                <input type="text" name="for" id="for" value="{{ for }}" placeholder="City (optional)" />
            </div>

            <a class="next-step" href="#" data-for="payment">Next</a>
        </section>

        <section class="payment" style="display: none">
            <h2>Payment Information</h2>
            <div class="onsite-gateway only">
                <div class="card">
                    <input type="text" id="card_number" placeholder="Card Number" data-stripe="number" />
                    <div class="exp">
                        <label for="exp">EXP</label>
                        <input type="text" id="exp" placeholder="MM/YYYY" />
                    </div>
                </div>
                <button type="submit" name="payment_method" id="card" value="stripe">Donate ${{ default_donation|number_format(0) }} by card</button>
            </div>
            <div class="alternate-gateways" style="display: none">
                <p>Or</p>
                <button type="submit" name="payment_method" id="dwolla" value="dwolla" class="gateway-dwolla">Donate ${{ default_donation|number_format(0) }} with Dwolla</button>
            </div>
            <div class="mail">
                <p>You can also donate by mailing a check to <strong>505 Broadway E, Box 141, Seattle WA 98102</strong>.</p>
                <p>Want to make a large donation or donate stocks? Contact us at <a href="mailto:donors@studentrnd.org">donors@studentrnd.org</a>.</p>
            </div>
        </section>
    </form>

    <section class="details">
        <img src="/assets/img/donate-why.jpg" alt="Why Donate?"/>
        <div class="why">
            <p>We spend $36 for each person who attends CodeDay, but only average $6 from tickets.</p>
            <p>Your contribution helps us continue to offer existing programs, and reach more students in need in your community. Contributions are tax-deductible.</p>
        </div>
    </section>

    <section class="people">
        <h2>Your contribution helps students such as...</h2>
        <ul>
            <li>
                <div class="picture" style="background-image:url(/assets/img/donate/people/naomi.jpg)"></div>
                <p><span class="name">Naomi</span>&thinsp;&mdash;&thinsp;Naiomi's experiences encouraged her to pursue a
                    degree in computer science at the University of Washington, and helped her secure internships at
                    Intel and Google.</p>
            </li>
            <li>
                <div class="picture" style="background-image:url(/assets/img/donate/people/zaq.jpg)"></div>
                <p><span class="name">Zaq</span>&thinsp;&mdash;&thinsp;CodeDay helped Zaq go from high school dropout
                    to full-time software engineer.</p>
            </li>
            <li>
                <div class="picture" style="background-image:url(/assets/img/donate/people/fisher.jpg)"></div>
                <p><span class="name">Fisher</span>&thinsp;&mdash;&thinsp;By organizing CodeDay Chicago multiple times,
                Fisher has built a strong community of young coders in Chicago.</p>
            </li>
        </ul>
    </section>

    <section class="big-impact">
        <header>
            <h2>A Few Dollars Can Go a Long Way</h2>
            <p>Your contribution makes a big impact on communities in over 30 cities nationwide:</p>
        </header>
        <div class="map"></div>
        <section class="activities">
            <ul>
                <li>
                    <h3>More Students In Your Community</h3>
                    <p>Your support allows more students attend CodeDay with more scholarships and increased capacity.</p>
                </li>
                <li>
                    <h3>Increased Access</h3>
                    <p>Contributions help bring events to new cities, helping reach students without access to tech
                       programs.</p>
                </li>
                <li>
                    <h3>New Programs</h3>
                    <p>Help us launch new programs, giving students new ways to learn, and giving beginners additional
                       opportunities to get involved.</p>
                </li>
            </ul>
        </section>
    </section>
{% endblock %}
