-extends "template.haml"
-block section
  donate
-block page
  index
-block title
  #{i18n('donate.title')}
-block body
  .content
    %header
      %img(src="/assets/img/head-donate.jpg")
      %h2 #{i18n('donate.tag')}
      -if ref == 'sponsor'
        %p #{i18n('donate.text')}
      -else
        %p
          #{i18n('donate.text')}
          %a(href="/sponsor") #{i18n('donate.corporate')}

    -if errors
      .errors
        #{i18n('errors.title')}
        %ul
          -for error in errors
            %li #{error}

    #donateWidget

    %p.mail #{i18n('donate.donate-mail', {'address': 'srnd.org, 505 Broadway E #141, Seattle, WA 98102'})}
-block scripts
  :javascript
    window.i18n = {
      "DonationImpactAnnually": "#{i18n('donate.impact-annually')|escape('js')}",
      "DonationImpactText": {
        0:     "#{i18n('donate.impact-coffee')|escape('js')}",
        20:    "#{i18n('donate.impact-marketing')|escape('js')}",
        38:    "#{i18n('donate.impact-scholarship')|escape('js')}",
        400:   "#{i18n('donate.impact-school')|escape('js')}",
        5000:  "#{i18n('donate.impact-city')|escape('js')}",
      },
      "Contact": {
        "first_name":   "#{i18n('donate.first-name')|escape('js')}",
        "last_name":    "#{i18n('donate.last-name')|escape('js')}",
        "email":        "#{i18n('donate.email')|escape('js')}",
        "address_1":    "Address",
        "address_2":    "Address",
        "city":         "City",
        "state":        "State",
        "zip":          "ZIP",
      },


      "DonationFrequencyOnetime":   "#{i18n('donate.frequency-onetime')|escape('js')}",
      "DonationFrequencyMonthly":   "#{i18n('donate.frequency-monthly')|escape('js')}",
      "DonationFrequencyAnnual":    "#{i18n('donate.frequency-annual')|escape('js')}",
      
      "DonationFrequencyTitle":     "#{i18n('donate.frequency')|escape('js')}",
      "DonationAmountTitle":        "#{i18n('donate.amount')|escape('js')}",
      "DonationGiftTitle":          "#{i18n('donate.gift')|escape('js')}",
      "DonationContactTitle":       "#{i18n('donate.contact')|escape('js')}",
      "DonationPaymentTitle":       "#{i18n('donate.payment')|escape('js')}",

      "DonationFrequencyMemberNo":  "#{i18n('donate.membership-no')|escape('js')}",
      "DonationFrequencyMemberYes": "#{i18n('donate.membership-yes')|escape('js')}",
      "DonationFrequencyMember":    "#{i18n('donate.membership-explain')|replace({'"': '\\"'})|raw}",
      "DonationCustom":             "#{i18n('donate.impact-custom')|escape('js')}",
      "DonationNoGift":             "#{i18n('donate.no-gift')|escape('js')}",

      "DonationSubmitDisabled":     "#{i18n('donate.submit-disabled')}",
      "DonationSubmit": {
        "onetime":  "#{i18n('donate.submit-onetime')}",
        "monthly":  "#{i18n('donate.submit-monthly')}",
        "annual":   "#{i18n('donate.submit-annual')}"
      }
    };

    window.gifts = #{gifts|json_encode|raw};
    window.stripePublic = "#{stripe_public|escape('js')}";

  -if ref == 'sponsor'
    :javascript
      window.defaultState = {
        "amount": 500,
        "prefilledAmounts": [100,250,500,1000],
        "frequency": "onetime",
        "showMembership": false
      };
  -else
    :javascript
      window.defaultState = {
        "amount": 25,
        "prefilledAmounts": [15,25,50,100],
        "frequency": "monthly",
        "showMembership": true
      };

  %script(src="https://js.stripe.com/v3/")
