-extends "template.haml"
-block section
  donate
-block page
  receipt
-block title
  #{i18n('donate.receipt-title')}
-block body
  .content
    %header
      %h2 #{i18n('donate.receipt-tag')}
      %p #{i18n('donate.receipt-legal')}

    -if just_donated or just_subscribed
      .message
        %p #{i18n('donate.thanks')}
        -if just_subscribed
          %p #{i18n('donate.thanks-sub', {'amount': donation.amount|number_format(0)})}

    -if just_cancelled
      .message
        %p #{i18n('donate.cancelled')}


    .receipt
      .donation
        .amount
          -if donation.transaction_source == 'in-kind'
            #{i18n('donate.in-kind')}
          -else
            $#{donation.amount|number_format(2)}
        .date
          #{i18n('donate.received', {'date': donation.created_at.timestamp|date('F j, Y')})}
        .id
          \##{donation.id}

      .by
        %h3 #{i18n('donate.by')}
        %p
          #{donation.first_name} #{donation.last_name}<br />
          #{donation.address_1}<br />
          #{donation.city} #{donation.state} #{donation.zip}

      .to
        %h3 #{i18n('donate.to')}
        %p
          srnd.org<br />
          340 S Lemon Ave #7763<br />
          Walnut, CA 91789<br />
          EIN 26-4742589

      -if donation.transaction_source == 'in-kind'
        .in-kind-description
          %h3 #{i18n('donate.in-kind-description')}
          %p #{donation.in_kind_description|nl2br}
    -if donation.transaction_subscription_id and not donation.cancelled_at
      .recurring
        %p #{i18n('donate.recurring-head')}
        %form(method="post" action="/donate/cancel/#{donation.id}")
          %input(type="submit" value="#{i18n('donate.recurring-cancel')}")
