{% extends "template.twig" %}
{% block section %}admin{% endblock %}
{% block page %}event{% endblock %}
{% block title %}{% if event.name %}{{ event.name }}{% else %}New Event{% endif %} | Events | Admin{% endblock %}
{% block page_tagline %}{% if event.name %}{{ event.name }}{% else %}New Event{% endif %}{% endblock %}
{% block content %}
    <form method="post">
        <div class="field">
            <label for="name">Event Name</label>
            <input type="text" name="name" id="name" value="{{ event.name }}" required />
        </div>
        <div class="field">
            <label for="description">Event Description</label>
            <textarea name="description" id="description">{{ event.description }}</textarea>
        </div>
        <div class="field">
            <label for="starts_at">Starts At</label>
            <input type="datetime-local" name="starts_at" id="starts_at" {% if event.starts_at %}value="{{ event.starts_at.timestamp|date('Y-m-d\\TH:i') }}"{% endif %} required />
        </div>
        <div class="field">
            <label for="ends_at">Ends At</label>
            <input type="datetime-local" name="ends_at" id="ends_at" {% if event.ends_at %}value="{{ event.ends_at.timestamp|date('Y-m-d\\TH:i') }}"{% endif %}/>
        </div>

        <h3>Live Stream Settings</h3>
        <div class="field">
            <label for="is_stream_enabled">Stream Enabled?</label>
            <input type="checkbox" name="is_stream_enabled" id="is_stream_enabled" value="1" {% if event.is_stream_enabled %}checked{% endif %}/>
        </div>
        <div class="field">
            <label for="stream_id">YT Stream ID</label>
            <input type="text" name="stream_id" id="stream_id" value="{{ event.stream_id }}" />
        </div>

        <h3>In-Person Event Settings</h3>
        <div class="field">
            <label for="is_attend_enabled">Attend Enabled?</label>
            <input type="checkbox" name="is_attend_enabled" id="is_attned_enabled" value="1" {% if event.is_attend_enabled %}checked{% endif %}/>
        </div>
        <div class="field">
            <label for="address">Address</label>
            <textarea name="address" id="address">{{ event.address }}</textarea>
        </div>
        <div class="field">
            <label for="arrive_at">Arrive At</label>
            <input type="datetime-local" name="arrive_at" id="arrive_at" {% if event.arrive_at %}value="{{ event.arrive_at.timestamp|date('Y-m-d\\TH:i') }}"{% endif %}/>
        </div>
        <div class="field">
            <label for="allow_plus_ones">Allow +1s?</label>
            <input type="checkbox" name="allow_plus_ones" id="allow_plus_ones" {% if event.allow_plus_ones %}checked{% endif %}/>
        </div>
        <input type="submit" value="Save" />
    </form>

    {% if event.attendees|length > 0 %}
        <h2>Attendees</h2>
        <form>
            <div class="field">
                <label for="attendees">CSV</label>
                <textarea name="attendees" id="attendees" readonly>first_name,last_name,email,plus_ones
{% for attendee in event.attendees %}
{{ attendee.first_name }},{{ attendee.last_name }},{{ attendee.email }},{{ attendee.plus_ones }}
{% endfor %}</textarea>
            </div>
        </form>
    {% endif %}
{% endblock %}