{% extends "template.twig" %}
{% block section %}open{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Open Data{% endblock %}
{% block page_tagline %}Our records are open to the public{% endblock %}
{% block content %}
    <p>As a non-profit, we are required to make some data available to the public, however we strive
        to exceed these requirements. All useful data are available below. Additionally, software and
        other sources for most of our sites are available on our
        <a href="https://github.com/StudentRND">Github</a>, and most internal notes and guides are
        available on our <a href="https://wiki.studentrnd.org/">wiki</a>.</p>

    <section class="minutes">
        <h2>Board of Directors Minutes</h2>
        <ul>
            {% for minutes_file in minutes %}
                <li><a href="/open/minutes/{{ minutes_file.name }}">
                        {{ minutes_file.date|date('F j, Y') }}</a></li>
            {% endfor %}
        </ul>

        <h3>Other Board Actions</h3>
        <ul>
            {% for file in written %}
                <li><a href="/open/wc/{{ file.name }}.pdf">
                        {{ file.date|date('F j, Y') }}{% if file.number %} ({{ file.number|number_format }}){% endif %}</a></li>
            {% endfor %}
        </ul>
    </section>

    <section class="docs">
        <h2>Documents</h2>
        <h3>Yearly Reports</h3>
        <ul>
            <li>2016: <a href="/assets/pdf/open/taxes/2016_990.pdf">990</a>, <a href="/assets/pdf/open/annual/2016.pdf">Annual Report</a></li>
            <li>2015: <a href="/assets/pdf/open/taxes/2015_990.pdf">990</a></li>
            <li>2014: <a href="/assets/pdf/open/taxes/2014_990.pdf">990</a>, <a href="/assets/pdf/open/annual/2014.pdf">Annual Report</a></li>
            <li>2013: <a href="/assets/pdf/open/taxes/2013_990.pdf">990</a></li>
            <li>2012: 990-N</li>
            <li>2011: 990-N, <a href="/assets/pdf/open/annual/2011.pdf">Annual Report</a></li>
            <li>2010: 990-N</li>
            <li>2009: 990-N</li>
        </ul>

        <h3>Corporate, Legal, and Formation</h3>
        <ul>
            <li>EIN: <input type="text" readonly value="26-4742589" class="ein copier" onclick="this.setSelectionRange(0, this.value.length);" /> (<a href="/assets/pdf/open/w9.pdf">W-9</a>)</li>
            <li><a href="http://www.sos.wa.gov/corps/search_detail.aspx?ubi=602917549">Washington SOS Status</a></li>
            <li><a href="/assets/pdf/open/1023.pdf">1023</a></li>
            <li><a href="/assets/pdf/open/947.pdf">Letter 947 (Determination)</a></li>
            <li><a href="/assets/pdf/open/articles.pdf">Articles of Incorporation</a></li>
            <li><a href="/assets/pdf/open/bylaws.pdf">Bylaws</a></li>
        </ul>

        <h3>Board Policy Agreements</h3>
        <ul>
            <li>Tyler Menezes: <a href="/assets/pdf/open/coi/2014-menezes.pdf">2014</a></li>
            <li>Edward Jiang: <a href="/assets/pdf/open/coi/2014-jiang.pdf">2014</a></li>
            <li>Charlie Kindel: <a href="/assets/pdf/open/coi/2014-kindel.pdf">2014</a></li>
            <li>Christy Wilson: <a href="/assets/pdf/open/coi/2014-wilson.pdf">2014</a></li>
            <li>Mike Koss: <a href="/assets/pdf/open/coi/2014-koss.pdf">2014</a></li>
        </ul>
    </section>
{% endblock %}
