{% extends "template.twig" %}
{% block section %}build{% endblock %}
{% block page %}post{% endblock %}
{% block title %}Build{% endblock %}
{% block page_tagline %}News for students building awesome things{% endblock %}
{% block fullimage %}{{ post.thumbnail.src('large') }}{% endblock %}
{% block fb_title %}{{ social.fb_title }}{% endblock %}
{% block fb_description %}{{ social.fb_description }}{% endblock %}
{% block twitter_title %}{{ social.twitter_title }}{% endblock %}
{% block twitter_description %}{{ social.twitter_description }}{% endblock %}
{% block description %}{{ post.get_preview(50, true, false, true) }}{% endblock %}
{% block endhead %}{{wp_head}}<link rel="alternate" type="application/rss+xml" href="{{ bloginfo('rss2_url') }}" title="Article RSS Feed" />{% endblock %}
{% block og_type %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ post.post_date|date('Y-m-d') }}" />
    <meta property="article:section" content="{{ post.category }}" />
    <meta property="article:author" content="{{ post.author.permalink }}" />
{% endblock %}
{% block hero %}
    <section class="hero{% if post.thumbnail.src('large') %} with-image{% endif %}" style="background-image:url({{ post.thumbnail.src('large') }})">
        <article>
            <h2><a href="{{ post.permalink }}" itemprop="name">{{ post.title }}</a></h2>
            <h3 itemprop="author" itemscope itemtype="http://schema.org/Person">
                <a href="{{ post.author.permalink }}" itemprop="name">{{ post.author.name }}</a>, {{ post.display_date }}
                <meta itemprop="worksFor" itemscope itemtype="http://schema.org/Organization" itemref="studentrnd" />
            </h3>
        </article>
    </section>
{% endblock %}
{% block content %}
    <article itemscope itemtype="http://schema.org/Article" class="blogarticle full">

        <meta itemprop="publisher" itemscope itemtype="http://schema.org/Organization" itemref="studentrnd" />
        <meta itemprop="url" content="{{ post.permalink }}">
        <meta itemprop="articleSection" content="{{ post.category }}">
        <meta itemprop="datePublished" content="{{ post.post_date|date('Y-m-d') }}">

        <section class="social">
            <ul>
                {%  if post.status == 'publish' and not is_preview %}
                    <li class="facebook">
                        <div class="fb-like" data-href="{% if canonical %}{{ canonical }}{% else %}{{ post.permalink }}{% endif %}" data-layout="box_count" data-action="like" data-show-faces="false" data-share="true"></div>
                    </li>
                    <li class="twitter">
                        <iframe scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/tweet_button.1395439856.html#_=1395514211813&amp;count=vertical&amp;counturl={% if canonical %}{{ canonical|url_encode }}{% else %}{{ post.permalink|url_encode }}{% endif %}&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer={{ post.permalink|url_encode }}&amp;size=m&amp;text={{ sharer.twitter }}&amp;url={{ post.permalink|url_encode }}&amp;via={{ sharer.twitter_via }}" class="twitter-share-button twitter-tweet-button twitter-count-vertical" title="Twitter Tweet Button" data-twttr-rendered="true" style="width: 56px; height: 62px;"></iframe>
                    </li>
                    <li class="reddit">
                        <script type="text/javascript">reddit_title='{{ sharer.reddit }}';reddit_newwindow='1';{% if canonical %}reddit_url='{{ canonical }}';{% endif %}</script>
                        <script type="text/javascript" src="https://ssl.reddit.com/static/button/button2.js"></script>
                    </li>
                    <li class="hn">
                        <a href="https://news.ycombinator.com/submit" class="hn-button" data-title="{{ sharer.hn}}" {% if canonical %}data-url="{{ canonical }}"{% endif %} data-count="vertical">Vote on Hacker News</a>
                        <script type="text/javascript">var HN=[];HN.factory=function(e){return function(){HN.push([e].concat(Array.prototype.slice.call(arguments,0)))};},HN.on=HN.factory("on"),HN.once=HN.factory("once"),HN.off=HN.factory("off"),HN.emit=HN.factory("emit"),HN.load=function(){var e="hn-button.js";if(document.getElementById(e))return;var t=document.createElement("script");t.id=e,t.src="//hn-button.herokuapp.com/hn-button.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n)},HN.load();</script>
                    </li>
                {% else %}
                    <li class="preview">
                        Editor Preview
                    </li>
                {% endif %}
                <li class="edit">
                    {% if post.can_edit %}
                        <a href="{{post.get_edit_url}}">Edit Post</a>
                    {% endif %}
                </li>
            </ul>
        </section>
        <section itemprop="articleBody" class="text">
            {% if video %}
                <div class="primary-video video wistia_embed wistia_async_{{ video }} videoFoam=true">&nbsp;</div>
            {% endif %}
            {{ post.content }}
        </section>
    </article>
{% endblock %}
{% block scripts %}
    {% if video %}
        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
    {% endif %}
{% endblock %}