-macro chart(name, height, tabs)
  %div.tableauPlaceholder(style="height: #{height-20}px")
    %object.tableauViz(style="display:none; height:#{height+100}px; width: 100%")
      %param(name='host_url' value='https://public.tableau.com/')
      %param(name='site_root' value='')
      %param(name='name' value="#{name}")
      %param(name='tabs' value="#{tabs ? 'yes' : 'no'}")
      %param(name='toolbar' value='no')
      %param(name='static_image' value="https://public.tableau.com/static/images/#{name|slice(0,2)}/#{name}/1.png?#{random()}")
      %param(name='animate_transition' value='yes')
      %param(name='display_static_image' value='yes')
      %param(name='display_spinner' value='no')
      %param(name='display_overlay' value='no')
      %param(name='display_count' value='no')
