{% extends "template.twig" %}
{% block section %}donate{% endblock %}
{% block page %}receipt{% endblock %}
{% block title %}Donation Receipt{% endblock %}
{% block page_tagline %}Donation Receipt{% endblock %}
{% block content %}
    {% if just_donated %}
        <section class="thanks">
            <p>Your donation was successfully processed! Please print or bookmark this page for your records.</p>
        </section>
    {% elseif just_subscribed %}
        <section class="thanks">
            <p>Your first monthly donation was successfully processed. Please print or bookmark this page for your
                records.</p>
            <p>A ${{ donation.amount|number_format(0) }} donation will automatically be deducted at this time each
                month. You can cancel your donation from any donation receipt.</p>
        </section>
    {% elseif just_cancelled %}
        <section class="thanks">
            <p>Your monthly donation was just cancelled.</p>
        </section>
    {% endif %}
    <section class="receipt">
        <section class="donation">
            <span class="amount">${{ donation.amount|number_format(2) }}</span>
            <span class="date">
                {{ donation.created_at.timestamp|date('l, F j, Y') }},
                {{ donation.created_at.timestamp|date('g:ia T') }}
            </span>
            <span class="id">ID #{{ donation.id }}</span>
        </section>

        <section class="donated-by">
            <h2>Donated By</h2>
            <p>
                <span class="name">{{ donation.first_name }} {{ donation.last_name }}</span>
                <span class="email">{{ donation.email }}</span>
            </p>
        </section>

        <section class="donated-to">
            <h2>Donated To</h2>
            <p>
                <span class="name">StudentRND</span>
                <span class="address">
                    <span class="street">505 Broadway E</span>
                    <span class="box">Box 141</span>
                    <span class="delivery">Seattle, WA 98102</span>
                </span>
            </p>
        </section>
    </section>
    <section class="legal">
        <p>No goods or services were provided in exchange for this donation. StudentRND is a not-for-profit corporation
            which is tax-exempt under IRC &sect; 501(c)(3). Our EIN is 26-4742589. Please keep this receipt for your
            records.</p>
    </section>
    {% if donation.transaction_subscription_id and not donation.cancelled_at %}
        <section class="recurring">
            <p>This donation was part of an ongoing monthly donation.</p>
            <form method="post" action="/donate/cancel/{{ donation.id }}">
                <input type="submit" value="Cancel this recurring donation." />
            </form>
        </section>
    {% endif %}
{% endblock %}