-extends "template.haml" 
-block section
  legal
-block page
  code-of-conduct
-block title
  #{i18n('conduct.title')}
-block body
  .content
    %header
      %img(src="/assets/img/head-conduct.jpg")
      %h2 #{i18n('conduct.title')}
    .code
      %p #{i18n('conduct.intro')}

      %h3 #{i18n('conduct.friendly-header')}
      %ul 
        %li #{i18n('conduct.friendly-humble')}
        %li #{i18n('conduct.friendly-respect')}
        %li #{i18n('conduct.friendly-language')}
        %li #{i18n('conduct.friendly-hit-on')}
      

      %h3 #{i18n('conduct.harass-header')}
      %p #{i18n('conduct.harass-text')}
        
      %h3 #{i18n('conduct.legal-header')}
      %ul 
        %li #{i18n('conduct.legal-safety')}
        %li #{i18n('conduct.legal-drugs')}
      
      .enforcement
        %h3 You have the right to feel welcome.

        %p
          If you ever feel you are unwelcome, unsafe, or in a hostile environment, please let us know (even if you
          don't think it violates our code).

        %p
          If you see something, say something. Anyone who makes a report in good faith will receive free admission to
          future events for life as a token of our thanks.

        %br



        %h4 We will take your report seriously.

        %p
          If you report concerning behavior, impartial staff will conduct a prompt and thorough investigation. If you
          request anonymity, we will do our best to keep you anonymous. If you have a concern about the investigation,
          you will be able to escalate.

        %p
          You will not face retaliation, even if your report involves staff, mentors, volunteers, or sponsors. Any
          attempt to retaliate will be treated as harassment.

        %br


        %h4 You can report a problem in many ways.

        %ul
          %li in person: Look for anyone with a red "srnd" badge with a holo security seal.
          %li online: <a href="/conduct/report">form</a>
          %li email: <a href="mailto:safety@srnd.org">safety@srnd.org</a>
          %li phone: <a href="tel:18886077763">888-607-SRND ext 9999</a>
          %li slack: <a href="https://chat.srnd.org/messages/tylermenezes">@tylermenezes</a>
          %li fb: <a href="https://messenger.com/t/srnd.org">@srnd.org</a>

        %br

        %h4 We can help you file other complaints.

        %p
          We can help you file complaints with other organizations and agencies. Here are two common ones:

        %p
          %strong Police:
          You may be able to file a criminal complaint in many cases.

        %p
          %strong Title IX:
          If you have an issue involving sexual harassment or sexual violence, and you attended with your school,
          attended an event hosted at a school, or had an issue with another student at your same school, you also have
          a right to report the behavior to the school under Title IX. You can find out who to contact by searching for
          "[school name] Title IX Coordinator."

      %br
      %p
        %em #{i18n('conduct.last-updated', {'date': 1509008758|date('F j, Y')})}.
