-extends "template.haml" 
-block section
  legal
-block page
  code-of-conduct
-block title
  #{i18n('conduct.title')}
-block body
  .content
    %header
      %img(src="/assets/img/head-conduct.jpg")
      %h2 #{i18n('conduct.title')}
    .code
      %p #{i18n('conduct.intro')}

      %h3 #{i18n('conduct.friendly-header')}
      %ul 
        %li #{i18n('conduct.friendly-humble')}
        %li #{i18n('conduct.friendly-respect')}
        %li #{i18n('conduct.friendly-language')}
        %li #{i18n('conduct.friendly-hit-on')}
      

      %h3 #{i18n('conduct.harass-header')}
      %p #{i18n('conduct.harass-text')}
        
      %h3 #{i18n('conduct.legal-header')}
      %ul 
        %li #{i18n('conduct.legal-safety')}
        %li #{i18n('conduct.legal-drugs')}
      
      .enforcement
        %h3 #{i18n('conduct.enforcement-header')}
        %p #{i18n('conduct.enforcement-report')}
        %p #{i18n('conduct.enforcement-process')}
        %ul 
          %li #{i18n('conduct.enforcement-email')}: conduct@srnd.org
          %li #{i18n('conduct.enforcement-phone')}: 888-607-SRND ext 9999
          %li #{i18n('conduct.enforcement-slack')}: @tylermenezes

        %p #{i18n('conduct.sanctions')}
      %p #{i18n('conduct.last-updated', {'date': 1478520000|date('F j, Y')})}
