-extends "template.haml"
-block section
  contact
-block page
  index
-block title
  #{i18n('contact.title')}
-block body
  .content
    %header
      %img(src="/assets/img/head-contact.jpg")
      %h2 #{i18n('contact.tag')}
    .contact
      %ul
        %li
          %h3 CodeDay
          %p
            %a(href="mailto:contact@codeday.org") contact@codeday.org
            %a(href="tel:18882633230") (888) CODE-230
          %p
            %em #{i18n('contact.codeday-phone-hours')}
        %li
          %h3 #{i18n('contact.press')}
          %p
            %a(href="mailto:press@srnd.org") press@srnd.org
            %a(href="tel:18886077763") (888) 607-SRND ext 102
        %li
          %h3 #{i18n('contact.sponsorship')}
          %p
            %a(href="mailto:sponsor@srnd.org") sponsor@srnd.org
            %a(href="tel:18886077763") (888) 607-SRND ext 103
        %li
          %h3 #{i18n('contact.addr')}
          %p
            %strong #{i18n('contact.addr-mail')}:<br />
            srnd.org<br />
            340 S Lemon Ave #7763<br />
            Walnut, CA 91789
          %p
            %strong #{i18n('contact.addr-mail-ca')}:<br />
            srnd.org<br />
            308 5th Ave E<br />
            Vancouver, BC V5T 1H4
    
    .team
      %h2 #{i18n('contact.team-head')}
      %ul.bod
        %li
          %a(href="/contact/tyler")
            %img(src="/assets/img/team/tyler.png" title="“I regret hiring two interns that are into memes”")
          .details
            .name Tyler Menezes
            .title #{i18n('contact.team-title-ed')}
            .bio #{i18n('contact.team-bio-menezes')}
        %li
          %img(src="/assets/img/team/zaq.png")
          .details
            .name Zaq Wiedmann
            .title #{i18n('contact.team-title-bod')}
            .bio #{i18n('contact.team-bio-wiedmann')}
        %li
          %img(src="/assets/img/team/bob.png")
          .details
            .name Bob Crimmins
            .title #{i18n('contact.team-title-bod')}
            .bio #{i18n('contact.team-bio-crimmins')}
        %li
          %img(src="/assets/img/team/ana.png")
          .details
            .name Ana Pooley
            .title #{i18n('contact.team-title-bod')}
            .bio #{i18n('contact.team-bio-pooley')}
        %li
          %img(src="/assets/img/team/edward.png")
          .details
            .name Edward Jiang
            .title #{i18n('contact.team-title-advisor')}
            .bio #{i18n('contact.team-bio-jiang')}
        %li
          %img(src="/assets/img/team/charlie.png")
          .details
            .name Charlie Kindel
            .title #{i18n('contact.team-title-advisor')}
            .bio #{i18n('contact.team-bio-kindel')}
      %ul.staff
        %li
          %img(src="/assets/img/team/khizer.png")
          .details
            .name Khizer Husain
            .title Coach
        %li
          %img(src="/assets/img/team/sanil.png")
          .details
            .name Sanil Chawla
            .title Coach
        %li
          %img(src="/assets/img/team/vivian.png")
          .details
            .name Vivian Shen
            .title Regional Manager
        %li
          %img(src="/assets/img/team/momo.png")
          .details
            .name Momo Zhang
            .title Regional Manager
        %li
          %img(src="/assets/img/team/adele.png")
          .details
            .name Adele Miller
            .title Regional Manager
        %li
          %img(src="/assets/img/team/leah.png")
          .details
            .name Leah Chung
            .title Regional Manager
        %li
          %img(src="/assets/img/team/victor.jpg?v2")
          .details
            .name Victor Lourng
            .title Regional Manager
        %li
          %img(src="/assets/img/team/james.png")
          .details
            .name James Gan
            .title Regional Manager
        %li
          %img(src="/assets/img/team/luke.png")
          .details
            .name Luke Igel
            .title Co-Regional Manager
        %li
          %img(src="/assets/img/team/william.png")
          .details
            .name William Walcher
            .title Co-Regional Manager
        %li
          %img(src="/assets/img/team/mark.png")
          .details
            .name Mark Reiter
            .title Senior Code Evangelist
        %li
          %img(src="/assets/img/team/tom.png")
          .details
            .name Tom Paulus
            .title Senior Code Evangelist
        %li
          %img(src="/assets/img/team/carson.png")
          .details
            .name Carson Woods
            .title Senior Code Evangelist
        %li
          %img(src="/assets/img/team/bryan.jpg")
          .details
            .name Bryan Rivera
            .title Senior Code Evangelist
        %li
          %img(src="/assets/img/team/tj.png" title="“Tell me if James breaks anything”")
          .details
            .name TJ Horner
            .title Intern
        %li
          %img(src="/assets/img/team/jrc.png" title="“Premiere Pro is the only true NLE”")
          .details
            .name James Click
            .title Intern

