-extends "template.haml"
-block section
  index
-block page
  index
-block body
  .hero
    .content
      .tagline #{i18n('common.tagline')}
      .details #{i18n('index.hero-text')}
      .cta
        %span(class="wistia_embed wistia_async_w4qfsy0iu3 popover=true popoverContent=link popoverPreventScroll=true" style="display:inline")
          %a(href="#") &#x25BA;&nbsp;&nbsp;#{i18n('index.hero-cta-video')}

  %a(name="stats")
  .stats
    .content
      %h2 <a href="#stats">#{i18n('index.stats-title', {'coders': '20,000', 'cities': '40'})}</a>
      %ul
        %li.two-line
          %h3 #{i18n('index.stats-block-1-title')}
          %ul
            %li #{i18n('index.stats-block-1-1', {'students': '30,000'})}
            %li #{i18n('index.stats-block-1-2', {'cities': '40'})}
        %li
          %h3 #{i18n('index.stats-block-2-title')}
          %img.pie(src="/assets/img/pie-68.svg")
          .details #{i18n('index.stats-block-2', {'underrep': '68'})}
        %li
          %h3 #{i18n('index.stats-block-3-title')}
          .bar
            .progress(style="width: 75%") #{i18n('index.stats-block-3', {'outcome': '71'})}

      .sponsors
        %h3 #{i18n('index.sponsors')}
        %ul
          %li(style="background-image:url('/assets/img/sponsors/splunk.png')")
            %a(href="https://splunk.com/")
          %li(style="background-image:url('/assets/img/sponsors/lexisnexis.png')")
            %a(href="https://splunk.com/")
          %li(style="background-image:url('/assets/img/sponsors/sap.png')")
            %a(href="https://splunk.com/")
          %li(style="background-image:url('/assets/img/sponsors/statefarm.png')")
            %a(href="https://splunk.com/")

      .press
        %h3 #{i18n('index.press')}
        %ul
          %li.pbs <a target="_blank" href="http://blogs.kqed.org/mindshift/2012/04/watch-out-silicon-valley-here-come-the-tinkering-teens/">PBS</a></li>
          %li.npr <a target="_blank" href="http://www.npr.org/blogs/alltechconsidered/2014/01/25/266162832/computers-are-the-future-but-does-everyone-need-to-code">All Things Considered</a></li>
          %li.univision <a target="_blank" href="http://www.kunstv.com/noticias/video/Un-chico-con-buenas-ideas-para-los-demas-jovenes-304649881.html">Univision</a></li>
          %li.techcrunch <a target="_blank" href="http://techcrunch.com/2013/01/18/the-weekly-good-the-problems-of-today-will-be-solved-by-the-minds-of-tomorrow/">TechCrunch</a></li>
          %li.readwrite <a target="_blank" href="http://readwrite.com/2013/10/18/kids-learn-code-programming">Readwrite</a></li>

  .content
    .explainer
      %h2 <a name="about" href="#about">#{i18n('index.explainer-title')}</a>
      %ul
        %li
          .frame
            %img(src="/assets/img/explainer/1.png" alt="#{i18n('index.explainer-1-alt')}" title="#{i18n('index.explainer-1-title')}")
          .caption #{i18n('index.explainer-1-caption')}
        %li
          .frame
            %img(src="/assets/img/explainer/2.png" alt="#{i18n('index.explainer-2-alt')}" title="#{i18n('index.explainer-2-title')}")
          .caption #{i18n('index.explainer-2-caption')}
        %li
          .frame
            %img(src="/assets/img/explainer/3.png" alt="#{i18n('index.explainer-3-alt')}" title="#{i18n('index.explainer-3-title')}")
          .caption #{i18n('index.explainer-3-caption')}

    .programs
      %h2 #{i18n('index.programs-title', {link: "/education"})|raw}
      %ul
        %li.codeday
          %a(href="https://codeday.org/" target="_blank")
            %img(src="/assets/img/logo-codeday.svg")
          .caption #{i18n('index.programs-codeday')}
        %li.chat
          %a(href="#" target="_blank")
            %img(src="/assets/img/logo-chat.svg")
          .caption #{i18n('index.programs-chat', {'number': '20,000'})}
        %li.codebreak
          %a(href="https://codebreak.srnd.org/" target="_blank")
            %img(src="/assets/img/logo-codebreak.svg")
          .caption #{i18n('index.programs-codebreak')}

    .schools
      %h2 <a name="schools" href="#schools">#{i18n('index.schools-title')}</a>
      .quote-block
        %img(src="/assets/img/monterey-1.jpg")
        .quote
          %blockquote
            %p #{i18n('index.schools-quote-p1')}
            %p #{i18n('index.schools-quote-p2')}
          .by
            .name #{i18n('index.schools-quote-by')}
            .title #{i18n('index.schools-quote-title')}

    .cta-bottom
      .text
        %h2 <a name="cta" href="#cta">#{i18n('index.schools-bottom-title')}</a>
        %a(href="mailto:schools@srnd.org") #{i18n('index.schools-bottom-cta')}
      .images
        %img(src="/assets/img/line.jpg" srcset="/assets/img/line@2x.jpg 2x")>
        %img(src="/assets/img/watch.jpg" srcset="/assets/img/watch@2x.jpg 2x")>
        %img(src="/assets/img/collaboration.jpg" srcset="/assets/img/collaboration@2x.jpg 2x")>
        %img(src="/assets/img/music.jpg" srcset="/assets/img/music@2x.jpg 2x")>
        %img(src="/assets/img/relax.jpg" srcset="/assets/img/relax@2x.jpg 2x")>
        %img(src="/assets/img/collaboration2.jpg" srcset="/assets/img/collaboration2@2x.jpg 2x")>

-block scripts
  %script(src="https://fast.wistia.com/embed/medias/r4avh9mp2g.jsonp" async)
  %script(src="https://fast.wistia.com/assets/external/E-v1.js" async)
  :javascript
    var playedOnce = false;
    window._wq = window._wq || [];
    _wq.push({id: "w4qfsy0iu3",
      options: { autoPlay: true, plugin: { "captions-v1": { onByDefault: #{lang == 'es' ? 'true' : 'false'}}}},
      onReady: function(video) {
          if (!playedOnce && location.hash == '#video') {
            playedOnce = true;
            video.popover.show();
            video.play();
          }
    }});
