-extends "template.haml"
-block section
  press
-block page
  index
-block title
  #{i18n('press.title')}
-block body
  .content
    %header
      %img(src="/assets/img/head-press.jpg")
      %h2 #{i18n('press.tag')}
    .intro
      .srnd
        %h3 #{i18n('press.srnd-title')}
        %p #{i18n('press.srnd-1')}
        %p #{i18n('press.srnd-2')}

      .programs
        .codeday
          %h3 #{i18n('press.program-codeday-title')}
          %p #{i18n('press.program-codeday-1')}
          %p #{i18n('press.program-codeday-2')}
          %p #{i18n('press.program-codeday-3')}
          %p #{i18n('press.program-codeday-4')}
          %p #{i18n('press.program-codeday-5')}

    .assets
      %h3 #{i18n('press.assets-title')}
      %p.license #{i18n('press.assets-license')}

      -for imageGroupTitle, imageGroup in images
        %h4 #{imageGroupTitle}
        %ul.images<
          -for image in imageGroup
            %li
              %a(href="#{image.download}" target="_blank")
                %img(src="#{image.thumb}" alt="#{image.name}" title="#{image.name}")
