-extends "template.haml"
-block section
  legal
-block page
  returns
-block title
  #{i18n('returns.title')}
-block body
  .content
    %header
      %h2 #{i18n('returns.title')}
    
    %div(class="registration") 
      %h2 #{i18n('returns.tickets')}
      %h3 #{i18n('returns.full')}
      %p #{i18n('returns.ticket-explain')}
      %p #{i18n('returns.ticket-policy')}

      %h3 #{i18n('returns.partial')}
      %p #{i18n('returns.ticket-discount')}
    
    %div(class="donations") 
      %h2 #{i18n('returns.donations')}
      %p #{i18n('returns.donation-explain')}
      %p #{i18n('returns.donation-policy')}
