-extends "template.haml"
-block section
  corporate
-block page
  index
-block title
  #{i18n('sponsor.title')}
-block body
  .content
    %header
      %h2 #{i18n('sponsor.tag')}
      %p #{i18n('sponsor.tag-p')}

    .opportunities
      .commitments.seasonal
        %h3 <a name="seasonal" href="#seasonal">#{i18n('sponsor.seasonal')}</a>
        %ul
          %li
            .summary
              %header
                %h4 #{i18n('sponsor.seasonal-community')}
              .amount $250&thinsp;&mdash;&thinsp;$1,999
              %p #{i18n('sponsor.seasonal-community-d')}
              %a.cta(href="/donate?ref=sponsor") #{i18n('sponsor.cta-support')}
              %a.cta-secondary(href="/contact") #{i18n('sponsor.cta-support-or')}

            %ul.compare
              %li #{i18n('sponsor.benefit-logo')}
              %li #{i18n('sponsor.benefit-kickoff', {'time': '1'})}
              %li #{i18n('sponsor.benefit-mentors')}
              %li #{i18n('sponsor.benefit-swag')}

          %li.feature
            .summary
              %header
                %h4 #{i18n('sponsor.seasonal-sponsor')}
              .amount $2,000
              %p #{i18n('sponsor.seasonal-sponsor-d')}
              %a.cta(href="/contact") #{i18n('sponsor.cta-contact')}

            %ul.compare
              %li.with-previous #{i18n('sponsor.benefit-community')}
              %li #{i18n('sponsor.benefit-kickoff', {'time': '5'})}
              %li #{i18n('sponsor.benefit-workshop', {'time': '45'})}
              %li #{i18n('sponsor.benefit-resumes', {'note': '<sup>1</sup>'})|raw}

          %li
            .summary
              %header
                %h4 #{i18n('sponsor.seasonal-national')}
              .amount $5,000
              %p #{i18n('sponsor.seasonal-national-d')}
              %a.cta(href="/contact") #{i18n('sponsor.cta-contact')}

            %ul.compare
              %li.with-previous #{i18n('sponsor.benefit-sponsor')}
              %li #{i18n('sponsor.benefit-prize', {'note': '<sup>2</sup>'})|raw}
              %li #{i18n('sponsor.benefit-resumes-n', {'note': '<sup>1</sup>'})|raw}
              %li #{i18n('sponsor.benefit-national')}

      .commitments.annual
        %h3 <a name="annual" href="#annual">#{i18n('sponsor.annual')}</a>
        %p #{i18n('sponsor.annual-contact', {'mailto': 'mailto:sponsor@srnd.org', 'email': 'sponsor@srnd.org', 'tel': 'tel:8886077763', 'phone': '(888) 607-SRND ext 103', 'download': 'https://assets.srnd.org/onepage.pdf'})|raw}
        %ul
          %li.feature
            .summary
              %header
                %h4 #{i18n('sponsor.annual-city')}
              .amount $10,000
              %p #{i18n('sponsor.annual-city-d')}
              %a.cta(href="/contact") #{i18n('sponsor.cta-contact')}

          %li
            .summary
              %header
                %h4 #{i18n('sponsor.annual-national')}
              .amount $25,000+
              %p #{i18n('sponsor.annual-national-d')}
              %a.cta(href="/contact") #{i18n('sponsor.cta-contact')}

