<!doctype html>
<html lang="en">
<head>
    {# Display info #}
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Meta info #}
    {% if block('description') %}
        {% set description = block('description') %}
    {% else %}
        {% set description = "StudentRND makes students fall in love with coding nationwide. Tens of thousands of students strong in 27 cities." %}
    {% endif %}

    {% if block('title') %}
        {% set title = block('title') ~ ' | ' ~ 'StudentRND' %}
    {% else %}
        {% set title = 'StudentRND' %}
    {% endif %}

    {% if block('fullimage') %}
        {% set image = block('fullimage') %}
    {% else %}
        {% set image = 'https://studentrnd.org/assets/img/og.jpg' %}
    {% endif %}

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="codeday, studentrnd, student research and development, hackathon, codeathon, programming" />

    <meta property="og:title" content="{% if block('fb_title') %}{{ block('fb_title') }}{% else %}{{ title }}{% endif %}" />
    <meta property="og:site_name" content="StudentRND" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="{{ image }}" />
    <meta property="fb:admins" content="529109178" />
    <meta property="og:description" content="{% if block('fb_description') %}{{ block('fb_description') }}{% else %}{{ description }}{% endif %}" />

    <meta name="twitter:title" content="{% if block('twitter_title') %}{{ block('twitter_title') }}{% else %}{{ title }}{% endif %}" />
    <meta name="twitter:site" content="@studentrnd" />
    <meta name="twitter:creator" content="@studentrnd" />
    <meta name="twitter:image" content="{{ image }}" />
    <meta name="twitter:description" content="{% if block('twitter_description') %}{{ block('twitter_description') }}{% else %}{{ description }}{% endif %}" />

    {% if block('og_type') %}
        {{ block('og_type') }}
    {% else %}
        <meta property="og:type" content="website" />
        <meta name="twitter:card" content="summary" />
    {% endif %}

    {# Stylesheets #}
    <link rel="stylesheet" href="/assets/css/style.css" />

    {# Wordpress #}
    {{ block('endhead') }}
</head>
<body class="{{ block('section') }} {{ block('page') }}">
    {% include "parts/header.twig" with {"section": block('section')} %}

    {% if block('hero') %}
        {{ block('hero') }}
    {% elseif block('title') or block('page_tagline') %}
        <section class="title">
            <article>
                {% if block('page_tagline') %}
                    <h2>{{ block('page_tagline') }}</h2>
                {% else %}
                    <h2>{{ block('title') }}</h2>
                {% endif %}
            </article>
        </section>
    {% endif %}

    {% if block('content') %}
        <section class="wrap">
            <section class="content">
                {{ block('content') }}
            </section>
        </section>
    {% endif %}

    {% include "parts/footer.twig" with {"scripts": block('scripts')} %}
</body>
</html>